.video-info .actions .watch-action .download-button-container {
    display: flex;
    margin-left: 10px;
}

.video-info .actions .watch-action .download-button {
    border-radius: 100px
}

.video-info .actions .watch-action .download-button.download {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #4a5af0;
    border-right: 1px solid #323aee;
    cursor: pointer
}

.video-info .actions .watch-action .download-button.select {
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #6273f2;
    background: #4a5af0;
    cursor: pointer
}
